<a href="https://colab.research.google.com/github/rubel-47/House-Prediction-using-ML/blob/main/Bangalore_house_price_prediction.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
import numpy as np
import pandas as pd
from sklearn.model_selection import train_test_split
from sklearn.tree import DecisionTreeRegressor
from sklearn.linear_model import LinearRegression
from sklearn.ensemble import RandomForestRegressor
from sklearn.neighbors import KNeighborsRegressor
from sklearn.svm import SVR
from sklearn.preprocessing import StandardScaler

In [ ]:
df = pd.read_csv("bangalore house price prediction.csv")
df.head()

,bath,balcony,price,total_sqft_int,bhk,price_per_sqft,area_typeSuper built-up Area,area_typeBuilt-up Area,area_typePlot Area,availability_Ready To Move,...,location_Kalena Agrahara,location_Horamavu Agara,location_Vidyaranyapura,location_BTM 2nd Stage,location_Hebbal Kempapura,location_Hosur Road,location_Horamavu Banaswadi,location_Domlur,location_Mahadevpura,location_Tumkur Road
0,3.0,2.0,150.0,1672.0,3,8971.291866,1,0,0,1,...,0,0,0,0,0,0,0,0,0,0
1,3.0,3.0,149.0,1750.0,3,8514.285714,0,1,0,1,...,0,0,0,0,0,0,0,0,0,0
2,3.0,2.0,150.0,1750.0,3,8571.428571,1,0,0,1,...,0,0,0,0,0,0,0,0,0,0
3,2.0,2.0,40.0,1250.0,2,3200.000000,1,0,0,1,...,0,0,0,0,0,0,0,0,0,0
4,2.0,2.0,83.0,1200.0,2,6916.666667,0,0,1,1,...,0,0,0,0,0,0,0,0,0,0

In [ ]:
df.shape

(7120, 108)

In [ ]:
df['location_Marathahalli'].value_counts()

0    7004
1     116
Name: location_Marathahalli, dtype: int64

## Split the features and level

In [ ]:
features = df.drop(labels=["price"],axis=1)
level = df["price"]

In [ ]:
xtrain,xtest,ytrain,ytest = train_test_split(features,level,test_size = 0.3,random_state = 2021)

In [ ]:
print("Shape of xtrain: ",xtrain.shape)
print("Shape of ytrain: ",ytrain.shape)
print("Shape of xtest: ",xtest.shape)
print("Shape of ytest: ",ytest.shape)

Shape of xtrain:  (4984, 107)
Shape of ytrain:  (4984,)
Shape of xtest:  (2136, 107)
Shape of ytest:  (2136,)

In [ ]:
scaler = StandardScaler()

In [ ]:
xtrain = scaler.fit_transform(X=xtrain)
xtest = scaler.transform(X=xtest)

## Create the **Model**

In [ ]:
model_dt = DecisionTreeRegressor(criterion="mse") # mse = mean squaired error
model_dt.fit(xtrain,ytrain)

C:\Users\alami\AppData\Local\Programs\Python\Python39\lib\site-packages\sklearn\tree\_classes.py:359: FutureWarning: Criterion 'mse' was deprecated in v1.0 and will be removed in version 1.2. Use `criterion='squared_error'` which is equivalent.
  warnings.warn(

DecisionTreeRegressor(criterion='mse')

In [ ]:
print("Accuracy: ", round(model_dt.score(X=xtest,y=ytest),ndigits=3)*100,"%")

Accuracy:  93.7 %

In [ ]:
# try another criterion="mae" its also called cost_function
model_dt2 = DecisionTreeRegressor(criterion="mae") # mean absolute error
model_dt2.fit(xtrain,ytrain)
print("Accuracy: ", round(model_dt2.score(X=xtest,y=ytest),ndigits=3)*100,"%")

C:\Users\alami\AppData\Local\Programs\Python\Python39\lib\site-packages\sklearn\tree\_classes.py:366: FutureWarning: Criterion 'mae' was deprecated in v1.0 and will be removed in version 1.2. Use `criterion='absolute_error'` which is equivalent.
  warnings.warn(

Accuracy:  93.10000000000001 %

In [ ]:
# try another criterion="friedman_mse"
model_dt3 = DecisionTreeRegressor(criterion="friedman_mse",)
model_dt3.fit(xtrain,ytrain)
print("Accuracy: ", round(model_dt3.score(X=xtest,y=ytest),ndigits=3)*100,"%")

Accuracy:  91.10000000000001 %

In [ ]:
# LinearRegression
model_lr = LinearRegression()
model_lr.fit(xtrain,ytrain)
print("Accuracy: ", round(model_lr.score(X=xtest,y=ytest),ndigits=3)*100,"%")

Accuracy:  88.1 %

In [ ]:
# RandomForestRegressor
model_rf = RandomForestRegressor()
model_rf.fit(xtrain,ytrain)
print("Accuracy: ", round(model_rf.score(X=xtest,y=ytest),ndigits=3)*100,"%")

Accuracy:  95.0 %

In [ ]:
# KNeighborsRegressor
model_knn = KNeighborsRegressor()
model_knn.fit(xtrain,ytrain)
print("Accuracy: ", round(model_knn.score(X=xtest,y=ytest),ndigits=3)*100,"%")

Accuracy:  86.2 %

In [ ]:
# SVR
model_svr = SVR()
model_svr.fit(xtrain,ytrain)
print("Accuracy: ", round(model_svr.score(X=xtest,y=ytest),ndigits=3)*100,"%")

Accuracy:  26.700000000000003 %